@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

  html {
    background-color: #222831;
  }

  body {
    color: #f2f2f2;
  }
}

@layer components {
  section,
  nav,
  footer {
    @apply container mx-auto flex items-center justify-center max-w-screen-xl bg-[#393E46] px-4 py-2 md:px-8 md:py-4 lg:px-16;
  }

  section {
    @apply xl:rounded-xl lg:py-8;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  nav {
    @apply xl:rounded-b-xl;
  }

  footer {
    @apply xl:rounded-t-xl flex-col;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  .btn-primary {
    @apply font-bold bg-[#f96d00]  border-2 border-[#f96d00] rounded-md px-2 py-1 hover:bg-[#f2f2f2] hover:text-[#f96d00] transition-all duration-300;
  }

  .btn-secondary {
    @apply font-bold bg-[#f2f2f2] text-[#393E46]  border-2 border-[#f2f2f2] rounded-md px-2 py-1 hover:bg-[#393E46] hover:text-[#f2f2f2] transition-all duration-300;
  }

  .btn-default {
    @apply font-bold bg-[#393e46] border-2 border-[#f2f2f2] rounded-md px-2 py-1 hover:bg-[#222831] transition-all duration-300;
  }

  .title-logo {
    @apply text-[#f96d00] font-bold;
  }

  .title-section {
    @apply text-[#f96d00] font-semibold border-b-2 border-[#f2f2f2];
  }

  .menu-icon {
    @apply text-3xl flex items-center justify-center;
  }

  .menu-icon-default {
    @apply flex items-center justify-center;
  }

  .nav-link {
    @apply border-b-2 border-transparent hover:border-[#f96d00] hover:text-[#f96d00] transition-all duration-300;
  }

  .nav-link-mobile {
    @apply border-b-2 border-[#f2f2f2] w-full pb-1 hover:border-[#f96d00] hover:text-[#f96d00] transition-all duration-300;
  }
}
